.header-container {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    grid-template-rows: 70px;
    .logo-button {
        display: flex;
        align-items: center;
    }
    .left-menu {
     display: flex;
     align-items: center;
     button {
        color: #34404b;
        font-family: "Harmonia";
        font-size: 18px;
        font-weight: 400;
        &:not(:last-child) {
            margin-right: 20px;
        }

        a {
        }
     }
    }
    .right-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .logoIcons {
            width: 30px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.cart {
                position: relative;
                .itemsCount {
                    position: absolute;
                    transform: translateX(50%);
                height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #46505a;
    color: #e6e8eb;
    top: -19px;
    right: 50%;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
                    
                }
            }
        }
    }
}

