<div class="header-container">
    <button class="logo-button" >
        <a href="#" class="logo">LOGO</a>
    </button>

    <div class="left-menu">
        <button><a routerLink="home">Home</a></button>
        <button><a routerLink="products">Products</a></button>
        <button><a routerLink="about">About</a></button>
        <button><a routerLink="contact">Contact</a></button>
        <button><a routerLinkActive="active" routerLink="admin">Admin</a></button>
    </div>

    <div class="right-menu">
        <div class="logoIcons">
            <img src="/assets/big-header.images/user.svg" width="19" height="17" alt="" data-toggle="modal"
                data-target="#exampleModal">
        </div>
        <div class="logoIcons cart">
            <img src="/assets/big-header.images/Cart_Ico.png" [ngClass]="{'icon': true}" width="19" height="17" alt=""
                routerLinkActive="active" routerLink="cart">
            <span class="itemsCount">{{getProductCount}}</span>

        </div>
    </div>
</div>