
    .container-fluid {
        padding: 10vh 3vw 4vh 5vw;
        ;
        background-color: #ffffff;
        min-height: 15vh;
        max-width: 85%;
        margin-left: 10%;
        width: 85%;
        margin: 0 auto;
    }
    
    .bigLogoText {
        color: #34404b;
        font-family: "Titillium";
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .smallLogoText {
        opacity: 0.8;
        color: #46505a;
        font-family: "Harmonia";
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1.50px;
        width: 113px;
        height: 11px;
        position: relative;
        top: -20px;
    }
    
    .redLogoImg {
        position: relative;
        left: 0px;
        top: -7px;
    }
    
    .whiteLogoImg {
        position: relative;
        left: -27px;
        top: -5px;
    }
    
    .shopyFooterText {
        color: #28313b;
        font-family: "Harmonia";
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        position: relative;
        top: -10px;
    }
    
    .paymentMethods {
        width: 129px;
        height: 16px;
        color: #ff5912;
        font-family: "HarmoniaSansProCyr-SemiBd";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 2%;
    }
    .pay{
       display: flex;
       justify-content: space-between;

    }
    
    .footerMenuList {
        color: #28313b;
        font-family: "Harmonia";
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        width: 585px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .lastFooterList {
        margin-bottom: 5%;
    }
    
    li {
        cursor: pointer;
        list-style-type: none

    }
    
    .footMenu:hover {
        color: #ff5912
    }
    .footer{
        display: flex;
        justify-content: space-between;
        margin: 0 65px 0 30px;
    }
    .footerIcons{
        display: flex;
        justify-content: space-between;
        width: 80%;
        
    }
  
    @media screen and (max-width:1020px) {
        .footer{
            display: block
        }
        .block1, .block2{
            width: 100%;
            margin: auto;
            text-align: center

        }
        .smallLogoText{
            left: 50px;
        }
         .menuList{
            width: 100%;
            margin-left: 14%;
        } 
         .footerMenuList{
             display: flex
         }
         .paymentMethods{
             margin:auto
         }
         .pay{
             text-align: center;
             margin-top: 5px
         }
    }


    @media screen and (max-width:768px){
        .menuList{
         display: block;
         /* padding-left: 10vw; */
        }
        .ul{
            width: 40%;
            margin: auto
        }
    }
    @media screen and (max-width:600px){
        .menuList{
         /* padding-left: 18vw; */
         margin-left: 3vw;
        }
    }

