.container-fluid{
    background-color:  #f4f6f8;
    min-height: 80vh;
    max-width: 84%;
    padding: 3vh 3vw;
    width: 87%;
    margin: 0 auto;
}
.office{
    min-height: 50vh;
    border: 1px solid #e6e8eb;
    margin: 2vh;
    display: flex;
    justify-content: space-between;
    padding: 3vh 0
}
.map{
    border: 1px solid #e6e8eb;
    margin: 2vh;
    padding: 3vh
}
.ourValues{
    min-height: 20vh;
    border: 1px solid #e6e8eb;
    margin: 2vh; 
}
.contactsFotos{
    min-height: 63vh;
    border: 1px solid #e6e8eb;
    margin: 2vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vh;
}
.officeInfo{
    color: #ff5912;
    font-family: "HarmoniaSansProCyr-SemiBd";
    font-size: 30px;
    letter-spacing: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2; 
}
.officeText,.officeNumber{
    opacity: 0.8;
    color: #46505a;
    font-family: "Harmonia";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.50px;
    line-height: 3; 
}
.officeNumber{
    font-size: 16px;
    line-height: 1.5; 
    color: #3e454d;
}
.bold{
    font-weight: 800;
    color: #2b2b2c;
    font-size: 18px;

}
.form{
    padding: 3vh 4vh;
}
.textarea{
    margin-top: 3vh;
}
.btn{
    background-color: #ff5912;
}
.btnSendMess{
    height: 40px;
    width: 85px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSendMessText{
    color: #ffffff;
    font-family: "HarmoniaSansProCyr-SemiBd";
}
input::-webkit-input-placeholder,textarea::-webkit-textarea-placeholder {
    font-style: italic;
}
.colon{
    margin: auto;
    text-align: center;

}
.values{
    color: #34404b;
    font-family: "HarmoniaSansProCyr-SemiBd";
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 12px;

}
.valuesLorem{
    color: #495662;
    font-family: "Harmonia";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-style: italic;
}
.orangeValues{
    color: #ff5912;
}
.foto{
    margin: 3vh 0;
}
.foto1,.foto2,.foto3{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3vh;
}
.foto1{
    background-image: url(/assets/contacts.images/shutterstock_433009291.png);
}
.foto2{
    background-image: url(/assets/contacts.images/shutterstock_432828019.png);
}
.foto3{
    background-image: url(/assets/contacts.images/shutterstock_353200073.png);
}
.title{
    color: #ff5912;
    font-family: "Harmonia";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.description{
    color: #34404b;
    font-family: "Harmonia";
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 3vh;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

input.ng-touched.ng-invalid {
    border: solid red 2px;
}

input.ng-touched.ng-valid {
    border: solid green 2px;
}



@media screen and (max-width:1090px){
.office, .contactsFotos{
    display: block
}
.title{
    display: flex;
    justify-content: center;
}
}