<div class="container-fluid" [ngClass]="{'smallHeader': true}">
    <div class="row justify-content-between  align-items-center " [ngClass]="{'smallHead': true}">
        <div class="col-5 " [ngClass]="{'smPart': true}">
            <div class="col-6 " [ngStyle]="{'display': flex}">
                <a href="">
                    <img src="/assets/small-header.images/Mail_Ico.png" alt="" [ngClass]="{'smHeaderIcon':true }">
                </a>
                <p>info@shopy.com</p>
            </div>
            <div class="col-6" [ngStyle]="{'display': flex}">
                <a href="">
                    <img src="/assets/small-header.images/Phone_Ico.png" alt="" [ngClass]="{'smHeaderIcon':true }">
                </a>
                <p>996 - 5553 - 453</p>
            </div>
        </div>

        <div class="col-1 " [ngStyle]="{'display': flex}" [ngClass]="{'icons': true}">
            <div class="col-4">
                <a href="https://www.facebook.com/">
                    <img src="/assets/small-header.images/facebook.png" alt="" width="11" height="11">
                </a>
            </div>
            <div class="col-4">
                <a href="https://twitter.com/">
                    <img src="/assets/small-header.images/twitter.png" alt="" width="11" height="11">
                </a>

            </div>
            <div class="col-4">
                <a href="https://www.instagram.com/">
                    <img src="/assets/small-header.images/instegram.png" alt="" width="11" height="11">
                </a>

            </div>


        </div>
    </div>
</div>