<div class="container-fluid">
    <div class="col">

        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="category">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="color">Color</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="size">Size</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="message">Message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="email">Email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="brend">Brend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="text">Text</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="firstHomeSlider">First Home Slider</a>
            </li>
        </ul>
        <br>

        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>