<div class="container-fluid">
    <div [ngClass]="{'bigSlider': true}">


        <!-- #1 -->
        <ngb-carousel *ngIf="photos" (slide)="onSlide($event)">
            <ng-template *ngFor="let item of photos; let i = index" ngbSlide [id]="'slideId_' + i">
                <div>
                    <img [src]="item.image" alt="Random slide" class="d-block w-100">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <div [ngClass]="{'someProductsSlider': true}">
        <div [ngClass]="{'newArrivals': true}">
            <p [ngClass]="{'new': true}"> <span [ngClass]="{'orangeNew': true}">NEW</span> ARRIVALS</p>
            <p [ngClass]="{'loremText': true}" *ngFor="let item of adminText">{{item.newArrivals}}
            </p>

        </div>


        <div class="bigBox">
            <div class="smallBlock" *ngFor="let product of img" [routerLink]="['/products', product.id]">
                <div class="block1">
                    <img [src]="product.image" class="photo">
                    <p class="name">{{product.name}}</p>
                    <p class="price">{{product.price}}$</p>
                </div>
                <div class="block">
                    <img [src]="product.image" class="photoHover">
                    <p class="nameHover">{{product.name}}</p>
                    <div class="sizeHover">Sizes:
                        <div *ngFor="let size of product.size" [ngClass]="{'divSize': true}"> {{size.name}}
                        </div>
                    </div>
                    <div class="sizeHover">Brend:
                        <div [ngClass]="{'divSize': true}"> {{product.brend.name}}
                        </div>
                    </div>
                    <div class="sizeHover">Category:
                        <div [ngClass]="{'divSize': true}"> {{product.category.name}}
                        </div>
                    </div>
                    <div [ngClass]="{'colorHover': true}">
                        <div *ngFor="let color of product.color ; let i=index" [ngClass]="{'divColor': true}"
                            [ngStyle]="{'backgroundColor': color.name}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>