.container-fluid {
    background-color: #ffffff;
    padding: 2% 3%;
    max-width: 84%;
    width: 70%;
    margin: 5vw 6vw 5vw 15vw;
    
}
.smallContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.newLeft, .newRight{
    display: flex;
    justify-content: space-around;
    width: 50%
}
.newLeft{
    flex-wrap: wrap
}
.letter{
    display: flex;
    align-items: center;
    
}
.smHeaderIcon{
    margin-right:2px;
}
.newsTitle{
color: #ff5912;
font-family: "Harmonia";
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
margin-top: -3px;
}
.joinUs{
color: #34404b;
font-family: "Harmonia";
font-size: 15px;
font-style: italic;
text-align: center;
}
.typeEmail{
color: #7c8791;
font-family: "Harmonia";
font-size: 15px;
font-style: italic;
}
.typeEmail2:hover{
    border-color: #ff5912;
}
input{
width: 15vw;
margin: 0 30px 0 10px;
}
.btnJoinUs{
    background-color: #ff5912;
    font-size: 14px;
    font-weight: 400;
    width: 75px;
    height: 45px;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnJoinUsText{
     margin-left: 2%;
}


.form{
    font-family: "Harmonia";
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.textarea{
    margin-top: 3vh;
}

.btnSendMessText{
    color: #ffffff;
    background-color: #ff5912;
    margin-top: 10px;
    align-items: center;
    font-weight: 400;
    width: 75px;
    height: 45px;
    margin:0;
    display: flex;
    justify-content: center;

}
input.ng-touched.ng-invalid {
    border: solid red 2px;
}

input.ng-touched.ng-valid {
    border: solid green 2px;
}

@media screen and (max-width:1020px){
   .smallContainer{
       display: block;
       margin: auto
   }
   .newLeft, .newRight{
       margin: auto
   }
   .newRight{
       width: inherit;
      display:flex;
      justify-content: space-between;
      width: 45%;
   }
}

@media screen and (max-width:768px){
    .newRight{
        display: block;
        width: 100%;
    }
    .smHeaderIcon{
        display: none;
    }
    .btnJoinUs{
        margin: auto
    }
    
    .letter{
        display:block;
        width: 100%;
    }
    .form{
        display: block;
        width: 100%;
    }
    input{
        width: 95%;
    }
    .btnSendMessText{
        margin: 10px auto;
    }
    
}


